@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Outfit:wght@300;400;600&display=swap');

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    background-color:  hsl(217, 54%, 11%);
    font-family: Outfit, sans-serif;
}

main{
    width: 300px;
    border:none;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(216, 50%, 16%);
}

.image img{
    margin-top: 20px;
    width: 250px;
    border-radius: 8px;
}

.name{
    font-family: Outfit, sans-serif;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}
.plus{
    width: 25ch;
    font-family: Outfit, sans-serif;
    color: hsl(215, 51%, 70%);
    font-size: 15px;
    opacity: 0.7;
}

.nums{
    display: flex;
    align-items: center;
    gap: 5rem;
    font-size: 16px;
}
.day{
    font-size: 14px;
    color:hsl(215, 51%, 70%); 
}
.quantity{
    font-size: 14px;
    color: hsl(178, 100%, 50%);
}
.icon{
    display: flex;
    align-items: center;
    gap: 6px;
}

.profile{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}
.profile img{
    width: 25px;
    border: 1px solid #fff;
    border-radius: 15px;
}
.avatar-name p{
    font-size: 13px;
    font-weight: 300;
   
}
.profile span{
    color: hsl(215, 51%, 70%);
}
hr{
    color: hsl(215, 32%, 27%);
}
